#kbb-ext-wrapper {
    padding: 15px;
    width: 100%;
    overflow: hidden;
    display: table;
}

#kbb-ext-form{
    display: inline-block;
}

.kbb-mmy-input-group {
    overflow: hidden;
    display: table;
    padding-left: 25px;
    padding-right: 20px;
}

.kbb_child input[type=text] {
    width: 100px;
    float: left;
    border-width: 1px;
    padding: 5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-right: 5px;
    
}

.kbb_child label {
    display: block;
}

#kbb-ext-ad {
    width: 400px;
}

.kbb_child {
    display: table-cell;
    vertical-align: middle;
}

.multiple-items {
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    max-width: 336px;
    font-size: 0.75em;
}
